.one-task {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: #ffffff;
    width: 600px;
    margin: 10px auto;
    border-radius: 5px;
    }
    .one-task h4 {
    padding-left: 20px;
    }
    